:root{
   --primary-bg: #552F8E;
   --secondary-bg: #21112A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--primary-bg);
}

.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 35%;
    justify-content: space-around;
    list-style: none;
}

.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
}
 
.burger{
    display: none;
}

html, body{
    overflow-x: hidden;
}


@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }

    body{
        overflow-x: hidden;
       
    }
}

nav{
   width:100%;
  } 

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--primary-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
       
    }

    .nav-links li{
        opacity: 1;
    }

    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);




} 

.
@keyframes navLinkFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
